<!doctype html>
<title>{% block title %}{% endblock %} - vyosGUI</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1>vyosGUI</h1>
  <ul>
    {% if g.user %}
      <li><span>{{ g.user }}</span>
      <li><a href="{{ url_for('login.logout') }}">Log Out</a>
<!-- No reason for a login button to appear. User should always be logged in-->
    {% else %}
      <li><a href="{{ url_for('login.auth') }}">Log In</a>
    {% endif %}

  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ messages }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>
		
