{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Firwall Configuration{% endblock %}</h1>
{% endblock %}

{% block content %}
<h2> Create Zone: </h2>
	<form method="post">
		<label for="zoneName">Zone Name:</label>
		<input type="text" name="zoneName" id="zoneName">
		<label for="interface">Interface: </label>
		<select name="interface" id="interface">
			<script>
				var interface = {{int|tojson}}
				var options = "";
				for(var i in interface){
					options += "<option>"+ interface[i] +"</option>";
				}
				document.getElementById("interface").innerHTML = options;
			</script>
		</select>
		<br><input type="submit" name="commit1" value="commit">
	</form>
<h2> Create Zone Link: </h2>
	<form method="post">
		<label for="zone1">Receiving Zone:</label>
		<select name="zone1" id="zone1"></select>
			<script>
				var zone1 = {{zone|tojson}}
				var options = "";
				for(var i in zone1){
					options += "<option>"+ zone1[i] +"</option>";
				}
				document.getElementById("zone1").innerHTML = options;
			</script>
		<label for="zone2">Sending Zone:</label>
		<select name="zone2" id="zone2"></select>
			<script>
				var zone2 = {{zone|tojson}}
				var options = "";
				for(var i in zone2){
					options += "<option>"+ zone2[i] +"</option>";
				}
				document.getElementById("zone2").innerHTML = options;
			</script>
  		<label for="linkName">Link Name:</label>
		<input type="text" name="linkName" id="linkName">

	</form>
<h2>Create Firewall Rules:</h2>
	<form method="post">
		
		<label for="name">Name:</label>
		<select name="name" id="name"></select>
			<script>
				var name = {{name|tojson}}
				var options = "";
				for(var i in name){
					options += "<option>"+ name[i] +"</option>";
				}
				document.getElementById("name").innerHTML = options;
			</script>


	</form>

<form method="post">
<br><input type="submit" name="save" value="save">
</form>

{% endblock %}
