{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Set Firwall Rules{% endblock %}</h1>
{% endblock %}

{% block content %}
{{int}}
<br>{{int[0]}}
<h2> Create Zone: </h2>
  <form method="post">
    <label for="zoneName">Zone Name:</label>
    <input type="text" name="zoneName" id="zoneName">
    <label for="dns">Interface: </label>
    <select id="interface"></select>
		<script>
		    var interface = {{int|tojson}}
		    var options = "";
		    for(var i in interface){
		        options += "<option>"+ interface[i] +"</option>";
		    }
		    document.getElementById("interface").innerHTML = options;
		</script>
	
    <br><input type="submit" name="commit" value="commit">
    <br><input type="submit" name="save" value="save">
  </form> -->
{% endblock %}
