{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Firwall Configuration{% endblock %}</h1>
{% endblock %}

{% block content %}
<h2> Create Zone: </h2>
	<form method="post">
		<label for="zoneName">Zone Name:</label>
		<input type="text" name="zoneName" id="zoneName">
		<label for="interface">Interface: </label>
		<select name="interface" id="interface">
			<script>
				var interface = {{int|tojson}}
				var options = "";
				for(var i in interface){
					options += "<option>"+ interface[i] +"</option>";
				}
				document.getElementById("interface").innerHTML = options;
			</script>
		</select>
		<br><input type="submit" name="commit1" value="commit">
	</form>
<h2> Create Zone Link: </h2>
	<form method="post">
		<label for="zone1">Receiving Zone:</label>
		<select name="zone1" id="zone1"></select>
			<script>
				var zone1 = {{zone|tojson}}
				var options = "";
				for(var i in zone1){
					options += "<option>"+ zone1[i] +"</option>";
				}
				document.getElementById("zone1").innerHTML = options;
			</script>
		<br><label for="zone2">Sending Zone:</label>
		<select name="zone2" id="zone2"></select>
			<script>
				var zone2 = {{zone|tojson}}
				var options = "";
				for(var i in zone2){
					options += "<option>"+ zone2[i] +"</option>";
				}
				document.getElementById("zone2").innerHTML = options;
			</script>
  		<br><label for="linkName">Link Name:</label>
		<input type="text" name="linkName" id="linkName">

	</form>
<h2>Create Firewall Rules:</h2>
	{{name|tojson}} {{zone|tojson}}
	<form method="post">
		<label for="established">Do you want to enable state established as rule 1?</label>
		<fieldset id="established">
			<input type="radio" id="yes" value="yes" name="established">
			<label for="yes">Yes</label><br>
			<input type="radio" id="no" value="no" name="established">
			<label for="no">No</label>
		</fieldset>
		<br><label for="fname">Firewall Name:</label>
		<select name="fname" id="fname"></select>
			<script>
				var fname = {{name|tojson}}
				var options = "";
				for(var i in fname){
					options += "<option>"+ fname[i] +"</option>";
				}
				document.getElementById("fname").innerHTML = options;
			</script>
		<br><label for="rule">Rule Number (1-9999): </label>
		<input type="text" name="rule" id="rule">
		<label for="action">Action:</label>
		<fieldset id="action">
			<input type="radio" id="accept" value="accept" name="action">
			<label for="accept">Accept</label><br>
			<input type="radio" id="deny" value="deny" name="action">
			<label for="deny">Deny</label>
		</fieldset>
		<br><label for="direction">Source or Destination rule:</label>
		<fieldset id="direction">
			<input type="radio" id="source" value="source" name="direction">
			<label for="source">Source</label><br>
			<input type="radio" id="destination" value="destination" name="direction">
			<label for="destination">Destination</label>
		</fieldset>
		<label for="port">Port: </label>
		<input type="text" list="port">
			<datalist id="port">
				<option value="80">
				<option value="443">
				<option value="http">
				<option value="https">
			</datalist>
		<label for="protocol">Protocol: </label>
		<input type="text" list="protocol">
			<datalist id="protocol">
				<option value="tcp">
				<option value="udp">
				<option value="icmp">
				<option value="tcp_udp">
			</datalist>
		<label for="address">Address: </label>
		<input type="text" name="address" id="address">
		<br><input type="submit" name="commit3" value="commit">

	</form>

<form method="post">
<br><input type="submit" name="save" value="save">
</form>

{% endblock %}
